<ion-header>
  <ion-navbar>
    <ion-title>
      <p class="tit-web">微信</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-color">
  <!--<div id="list">-->
    <!--<div class="list-bar">-->
      <!--<a href="#">A</a>-->
      <!--<a href="#">B</a>-->
      <!--<a href="#">C</a>-->
      <!--<a href="#">D</a>-->
      <!--<a href="#">E</a>-->
      <!--<a href="#">F</a>-->
      <!--<a href="#">G</a>-->
      <!--<a href="#">H</a>-->
      <!--<a href="#">I</a>-->
      <!--<a href="#">J</a>-->
      <!--<a href="#">K</a>-->
      <!--<a href="#">L</a>-->
      <!--<a href="#">M</a>-->
      <!--<a href="#">N</a>-->
      <!--<a href="#">O</a>-->
      <!--<a href="#">P</a>-->
      <!--<a href="#">Q</a>-->
      <!--<a href="#">R</a>-->
      <!--<a href="#">S</a>-->
      <!--<a href="#">T</a>-->
      <!--<a href="#">U</a>-->
      <!--<a href="#">V</a>-->
      <!--<a href="#">W</a>-->
      <!--<a href="#">X</a>-->
      <!--<a href="#">Y</a>-->
      <!--<a href="#">Z</a>-->
      <!--<a href="#">#</a>-->
      <!--<a href="#">#</a>-->
      <!--<a href="#">#</a>-->
      <!--<a href="#">#</a>-->
    <!--</div>-->
  <!--</div>-->
  <div class="list-bar">
    <a href="#" *ngFor="let j of Letter">{{j.item}}</a>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of Friends" style="border: none">
      <div style="float: left;width: 10%; margin-right: 10px">
        <img [src]="item.header"/>
      </div>
      <h2>{{item.userName}}</h2>
    </ion-item>
  </ion-list>
</ion-content>

