page-setting {
  .bg-color {
    background-color: #efeeee;
  }
  .top-list {
    margin-top: 15px;
  }

  .toolbar-title-md{

  }

  .scroll-content{
    overflow: hidden;
  }
  ion-item{
    height: 50px;
  }
}
